@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

$maincolor: #94FF78;
$secondarycolor: #7DD966;

.link{
    position: absolute;
    margin: 1em;
    z-index: 250;
    right: 0;

    a{
        background-color: $maincolor!important;
        border: none;
        color: black;
        font-size: 0.8em;
    }

    a:hover{
        color: black;
    }
}

.header{
    text-align: center;
    height: 30vh;
    position: relative;

    .backgroundImage{
        background-image: url('./img/hexagon_background_3D.png');
        background-position: center;
        background-size: cover;
        height: 100%;
    }

    .backgroundCover{
        background-color: black;
        height: 100%;
        opacity: 0.6;
    }

    .headerText{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        filter: blur(0)!important;
    }

    h1{
        color: #7DD966;
        text-transform: uppercase;
        font-weight: 900;
    }
}

.salaryInput{
    background-color: #eee;
    align-items: center;
    z-index: 300;
    padding: 1em;

    h3{
        text-align: center;
        font-size: 1.1em;
    }

    Button{
        color: black;
        border-radius: 0;
        background-color: $maincolor;
        border: none;
    }

    Button:hover{
        background-color: $secondarycolor;
        color: black;
    }
}

.input{
    display: flex;
    width: 50%;
    margin: 0.5em auto;

    input{
        outline: none;
        flex: 1 0 80%;
        height: 1.9em;
        padding: 0.2em;
        text-align: center;
        font-size: 1.1em;
    }

    Button{
        padding: 0.2em 1em;
    }
}

.incomeResults{
    display: flex;
    margin: 1em auto!important;
    // border: 1px red solid;
    flex-direction: column;
}

.subItem{
    border: 0.1em white solid;
    padding: 0.5em;
    position: relative;

    h2{
        color: black;
    }

    span{
        font-weight: bolder;
    }
}

//income component

.incomeTable{
    flex: 1 0 60%;
    margin: 0.5em;
    justify-content: space-around;
    background-color: #eee;
    max-height: 50vh;
    overflow-y: scroll;
}

.tableItem{
    border: 1px white solid;
    display: flex;
    padding: 1em;
    margin: auto;

    p{
        width: 50%;
        margin: 0;
    }

    p:nth-child(2){
        font-weight: bold;
    }
}

.finalIncome{
    display: flex;
    flex: 1 0 30%;
    flex-wrap: wrap;
}

.incomeTime{
    padding: 1em;
    border: 1px white solid;
    width: 30%;
    flex-grow: inherit;

    p:nth-child(1){
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    p:nth-child(2){
        text-align: center;
        margin: 0;
    }
}

//savings component

.savingsTable{
    flex: 0 0 35%;
    margin: 0.5em;
    background-color: #eee;
}

.savingsInput{
    background-color: #eee;
    align-items: center;
    z-index: 300;
    padding: 1em;
    border: 1px white solid;

    h3{
        text-align: center;
        font-size: 1.1em;
    }

    Button{
        color: white;
        border-radius: 0;
    }

    .inputPercent{
        display: flex;
        flex-direction: column;
        margin: 1em;
        font-size: 0.8em;
    
        input{
            outline: none;
            flex: 1 0 40%;
            height: 1.9em;
            padding: 0.2em;
            margin: 0.5em;
            text-align: center;
            font-size: 1.1em;
        }

        Button{
            color: black;
            border-radius: 0;
            background-color: $maincolor;
            border: none;
            padding: 0.2em 1em;
            margin: 0.5em;
        }
    
        Button:hover{
            background-color: $secondarycolor;
            color: black;
        }
    }
}

.savingResult{
    border: 1px white solid;

    h3{
        font-size: 1.1em;
        text-align: center;
        padding: 0.67em;
        margin-bottom: 0;
    }

    p{
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and (min-width: 40em){

    .incomeResults{
        flex-direction: row;
    }
}

@media only screen and (min-width: 60em){

    .incomeResults{
        width: 80%;
        margin: auto;
    }
}