.header {
  text-align: center;
  height: 30vh;
  position: relative;
}

.header .backgroundImage {
  background-image: url("./img/gold.jpg");
  background-position: top;
  background-size: cover;
  height: 100%;
}

.header .headerText {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  -webkit-filter: blur(0) !important;
          filter: blur(0) !important;
}

.header h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.salaryInput {
  background-color: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 300;
  padding: 1em;
}

.salaryInput h3 {
  text-align: center;
  font-size: 1.1em;
}

.salaryInput Button {
  color: white;
  border-radius: 0;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0.5em auto;
}

.input input {
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
  height: 1.9em;
  padding: 0.2em;
  text-align: center;
  font-size: 1.1em;
}

.input Button {
  padding: 0.2em 1em;
}

.incomeResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subItem {
  border: 0.1em white solid;
  padding: 0.5em;
  position: relative;
}

.subItem h2 {
  color: black;
}

.subItem span {
  font-weight: bolder;
}

.incomeTable {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  margin: 0.5em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #eee;
  max-height: 50vh;
  overflow-y: scroll;
}

.tableItem {
  border: 1px white solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  margin: auto;
}

.tableItem p {
  width: 50%;
  margin: 0;
}

.tableItem p:nth-child(2) {
  font-weight: bold;
}

.finalIncome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.incomeTime {
  padding: 1em;
  border: 1px white solid;
  width: 30%;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
}

.incomeTime p:nth-child(1) {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.incomeTime p:nth-child(2) {
  text-align: center;
  margin: 0;
}

.savingsTable {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  margin: 0.5em;
  background-color: #eee;
}

.savingsInput {
  background-color: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 300;
  padding: 1em;
  border: 1px white solid;
}

.savingsInput h3 {
  text-align: center;
  font-size: 1.1em;
}

.savingsInput Button {
  color: white;
  border-radius: 0;
}

.savingsInput .inputPercent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  font-size: 0.8em;
}

.savingsInput .inputPercent input {
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  height: 1.9em;
  padding: 0.2em;
  margin: 0.5em;
  text-align: center;
  font-size: 1.1em;
}

.savingsInput .inputPercent Button {
  padding: 0.2em 1em;
  margin: 0.5em;
}

.savingResult {
  border: 1px white solid;
}

.savingResult h3 {
  font-size: 1.1em;
  text-align: center;
  padding: 0.67em;
  margin-bottom: 0;
}

.savingResult p {
  text-align: center;
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */