.header{
    text-align: center;
    height: 30vh;
    position: relative;

    .backgroundImage{
        background-image: url('./img/gold.jpg');
        background-position: top;
        background-size: cover;
        height: 100%;
    }

    .headerText{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        filter: blur(0)!important;
    }

    h1{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.salaryInput{
    background-color: #eee;
    align-items: center;
    z-index: 300;
    padding: 1em;

    h3{
        text-align: center;
        font-size: 1.1em;
    }

    Button{
        color: white;
        border-radius: 0;
    }
}

.input{
    display: flex;
    width: 50%;
    margin: 0.5em auto;

    input{
        outline: none;
        flex: 1 0 80%;
        height: 1.9em;
        padding: 0.2em;
        text-align: center;
        font-size: 1.1em;
    }

    Button{
        padding: 0.2em 1em;
    }
}

.subItem{
    border: 0.1em white solid;
    padding: 0.5em;
    position: relative;

    h2{
        color: black;
    }

    span{
        font-weight: bolder;
    }
}

.incomeTable{
    width: 70%;
    margin: 1em auto 1em 0.5em;
    justify-content: space-around;
    background-color: #eee;
    max-height: 50vh;
    overflow-y: scroll;
}

.tableItem{
    border: 1px white solid;
    display: flex;
    padding: 1em;
    margin: auto;

    p{
        width: 50%;
        margin: 0;
    }

    p:nth-child(2){
        font-weight: bold;
    }
}

.finalIncome{
    margin: 2em 0.5em 0 0.5em;
    display: flex;
    justify-content: space-between;
}

.incomeTime{

    p:nth-child(1){
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.2em;
    }

    p:nth-child(2){
        text-align: center;
    }
}